## Selecting columns 5: Distinct Column
By the end of this lesson you will be able to:
- on 1 Column
- on 2 Column

## 选择列 5：选择唯一列

在本课结束时，您将能够：

- 选择 1 列

- 选择 2 列

In [1]:
import polars as pl

In [2]:
csv_file = "../../Files/Sample_Superstore.csv"

In [3]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 1      ┆ null           ┆ null       ┆ 11-11-2016 ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ 2      ┆ CA-2016-152156 ┆ 08-11-2016 ┆ 11-11-2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 12-06-2016 ┆ null       ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

## Distinct on a Single Column

## 单列唯一值

In [4]:
# Get distinct rows based on 'Customer_Name'
df.unique(subset=['Customer_Name']).select(['Customer_Name'])

shape: (793, 1)
┌───────────────────┐
│ Customer_Name     │
│ ---               │
│ str               │
╞═══════════════════╡
│ Anthony Garverick │
│ Roy Französisch   │
│ Patrick O'Donnell │
│ Annie Thurman     │
│ Sheri Gordon      │
│ …                 │
│ Greg Tran         │
│ Cynthia Arntzen   │
│ Mary O'Rourke     │
│ Anemone Ratner    │
│ Matt Collins      │
└───────────────────┘

We can also use the another method along with unique to focus on specific columns.

我们还可以使用另一种方法，结合唯一性来专注于特定的列。

In [5]:
df.select(pl.col('Customer_Name').unique())

shape: (793, 1)
┌───────────────────┐
│ Customer_Name     │
│ ---               │
│ str               │
╞═══════════════════╡
│ Robert Marley     │
│ Cindy Stewart     │
│ Maxwell Schwartz  │
│ MaryBeth Skach    │
│ Lisa DeCherney    │
│ …                 │
│ Dave Poirier      │
│ Joseph Holt       │
│ Jill Stevenson    │
│ Henry Goldwyn     │
│ Jennifer Ferguson │
└───────────────────┘

## Distinct on Two Columns

## 在两列上区分

In [15]:
df.unique(subset=['Customer_Name', 'Profit']).select(['Customer_Name','Profit'])

shape: (9_977, 2)
┌──────────────────┬──────────┐
│ Customer_Name    ┆ Profit   │
│ ---              ┆ ---      │
│ str              ┆ f64      │
╞══════════════════╪══════════╡
│ Logan Haushalter ┆ 25.1916  │
│ Don Weiss        ┆ 1.7024   │
│ Dan Campbell     ┆ 4.797    │
│ Joy Smith        ┆ 126.225  │
│ Sandra Flanagan  ┆ 10.4148  │
│ …                ┆ …        │
│ Daniel Raglin    ┆ 315.7404 │
│ Frank Gastineau  ┆ 219.4514 │
│ Ivan Gibson      ┆ 0.4704   │
│ Naresj Patel     ┆ 3.2256   │
│ Mike Kennedy     ┆ 8.8062   │
└──────────────────┴──────────┘

We can also use the another method along with unique to focus on multiple columns.

我们还可以使用另一种方法，结合 unique 来关注多列。

In [16]:
df.select([pl.col('Customer_Name'), pl.col('Profit')]).unique()

shape: (9_977, 2)
┌──────────────────┬─────────┐
│ Customer_Name    ┆ Profit  │
│ ---              ┆ ---     │
│ str              ┆ f64     │
╞══════════════════╪═════════╡
│ Jesus Ocampo     ┆ 39.6879 │
│ Jeremy Lonsdale  ┆ 5.6448  │
│ Emily Ducich     ┆ -1.041  │
│ Ted Trevino      ┆ 19.035  │
│ Shirley Daniels  ┆ 4.4712  │
│ …                ┆ …       │
│ Dennis Bolton    ┆ 62.7822 │
│ Ralph Arnett     ┆ 1.0346  │
│ Joni Blumstein   ┆ 2.7168  │
│ Victoria Pisteka ┆ 54.0876 │
│ Chris Selesnick  ┆ 7.584   │
└──────────────────┴─────────┘

In [11]:
df.select(pl.col('Customer_Name'), pl.col('Profit')).unique()

shape: (9_977, 2)
┌───────────────────┬─────────┐
│ Customer_Name     ┆ Profit  │
│ ---               ┆ ---     │
│ str               ┆ f64     │
╞═══════════════════╪═════════╡
│ Eugene Hildebrand ┆ -100.92 │
│ Brian Dahlen      ┆ 10.7892 │
│ Ken Black         ┆ 5.4432  │
│ John Lee          ┆ 48.4704 │
│ Tim Brockman      ┆ -6.6278 │
│ …                 ┆ …       │
│ Karen Daniels     ┆ 19.6248 │
│ Thea Hendricks    ┆ 40.1702 │
│ Greg Matthias     ┆ 32.098  │
│ Brian Moss        ┆ 10.881  │
│ Susan Pistek      ┆ 1.1946  │
└───────────────────┴─────────┘

In [10]:
df.select('Customer_Name', 'Profit').unique()

shape: (9_977, 2)
┌─────────────────────┬──────────┐
│ Customer_Name       ┆ Profit   │
│ ---                 ┆ ---      │
│ str                 ┆ f64      │
╞═════════════════════╪══════════╡
│ Juliana Krohn       ┆ 743.988  │
│ Sanjit Jacobs       ┆ -2.5632  │
│ Benjamin Venier     ┆ 16.032   │
│ Muhammed Yedwab     ┆ -209.994 │
│ Bart Pistole        ┆ 109.7544 │
│ …                   ┆ …        │
│ Chloris Kastensmidt ┆ 10.5     │
│ Lena Creighton      ┆ -13.3176 │
│ Sharelle Roach      ┆ 7.2576   │
│ Doug Bickford       ┆ 13.4925  │
│ Pamela Stobb        ┆ -12.208  │
└─────────────────────┴──────────┘