***Reading a CSV File***

In [1]:
import polars as pl

In [2]:
csv_path = "../../Files/Sample_Superstore.csv"

In [3]:
# Read CSV file
csv_df = pl.read_csv(csv_path)

# Display the DataFrame
print(csv_df)

shape: (9_994, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪════════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ null           ┆ null       ┆ 11-11-2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│ 2      ┆ CA-2016-152156 ┆ 08-11-2016 ┆ 11-11-2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│ 3      ┆ CA-2016-138688 ┆ 12-06-2016 ┆ null       ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│ 4      ┆ null           ┆ 11-10-2015 ┆ null       ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│ 5      ┆ US-2015-108966 ┆ 11-10-2015 ┆ 18-10-2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│ …      ┆ …              ┆ …          ┆ …          ┆ … ┆ …        ┆ …        ┆ …        ┆ …        │
│ 9990   ┆ CA-2014-110422 ┆ 21-01-2014 ┆ 23-01-2014 ┆ … ┆ 25.248   ┆ 3        ┆ 0.2      ┆ 4.1028   │
│ 9991   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 91.96    ┆ 2        ┆ 0.0      ┆ 15.6332  │
│ 9992   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 258.576  ┆ 2        ┆ 0.2      ┆ 19.3932  │
│ 9993   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 29.6     ┆ 4        ┆ 0.0      ┆ 13.32    │
│ 9994   ┆ CA-2017-119914 ┆ 04-05-2017 ┆ 09-05-2017 ┆ … ┆ 243.16   ┆ 2        ┆ 0.0      ┆ 72.948   │
└────────┴────────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [4]:
csv_df.head(5)

shape: (5, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪════════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ null           ┆ null       ┆ 11-11-2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│ 2      ┆ CA-2016-152156 ┆ 08-11-2016 ┆ 11-11-2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│ 3      ┆ CA-2016-138688 ┆ 12-06-2016 ┆ null       ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│ 4      ┆ null           ┆ 11-10-2015 ┆ null       ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│ 5      ┆ US-2015-108966 ┆ 11-10-2015 ┆ 18-10-2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
└────────┴────────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [5]:
csv_df.tail(5)

shape: (5, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬─────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales   ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---     ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64     ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪═════════╪══════════╪══════════╪═════════╡
│ 9990   ┆ CA-2014-110422 ┆ 21-01-2014 ┆ 23-01-2014 ┆ … ┆ 25.248  ┆ 3        ┆ 0.2      ┆ 4.1028  │
│ 9991   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 91.96   ┆ 2        ┆ 0.0      ┆ 15.6332 │
│ 9992   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 258.576 ┆ 2        ┆ 0.2      ┆ 19.3932 │
│ 9993   ┆ CA-2017-121258 ┆ 26-02-2017 ┆ 03-03-2017 ┆ … ┆ 29.6    ┆ 4        ┆ 0.0      ┆ 13.32   │
│ 9994   ┆ CA-2017-119914 ┆ 04-05-2017 ┆ 09-05-2017 ┆ … ┆ 243.16  ┆ 2        ┆ 0.0      ┆ 72.948  │
└────────┴────────────────┴────────────┴────────────┴───┴─────────┴──────────┴──────────┴─────────┘

In [6]:
csv_df.columns  # 打印所有列名字.

['Row_ID',
 'Order_ID',
 'Order_Date',
 'Ship_Date',
 'Ship_Mode',
 'Customer_ID',
 'Customer_Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal_Code',
 'Region',
 'Product_ID',
 'Category',
 'Sub_Category',
 'Product_Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [7]:
csv_df["Customer_Name"]

shape: (9_994,)
Series: 'Customer_Name' [str]
[
	"Claire Gute"
	"Claire Gute"
	"Darrin Van Huff"
	"Sean O'Donnell"
	"Sean O'Donnell"
	…
	"Tom Boeckenhauer"
	"Dave Brooks"
	"Dave Brooks"
	"Dave Brooks"
	"Chris Cortes"
]

In [8]:
csv_df[["Customer_Name"]].dtypes

[String]

***Reading Json Files***

In [9]:
# Read JSON file

json_df = pl.read_json("../../Files/Second.json")

# Display the DataFrame
print(json_df)

shape: (12_407, 4)
┌──────────────┬──────────────┬──────┬─────────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value       │
│ ---          ┆ ---          ┆ ---  ┆ ---         │
│ str          ┆ str          ┆ str  ┆ str         │
╞══════════════╪══════════════╪══════╪═════════════╡
│ Arab World   ┆ ARB          ┆ 1960 ┆ 96388069    │
│ Arab World   ┆ ARB          ┆ 1961 ┆ 98882541.4  │
│ Arab World   ┆ ARB          ┆ 1962 ┆ 101474075.8 │
│ Arab World   ┆ ARB          ┆ 1963 ┆ 104169209.2 │
│ Arab World   ┆ ARB          ┆ 1964 ┆ 106978104.6 │
│ …            ┆ …            ┆ …    ┆ …           │
│ Zimbabwe     ┆ ZWE          ┆ 2006 ┆ 12529655    │
│ Zimbabwe     ┆ ZWE          ┆ 2007 ┆ 12481245    │
│ Zimbabwe     ┆ ZWE          ┆ 2008 ┆ 12451543    │
│ Zimbabwe     ┆ ZWE          ┆ 2009 ┆ 12473992    │
│ Zimbabwe     ┆ ZWE          ┆ 2010 ┆ 12571000    │
└──────────────┴──────────────┴──────┴─────────────┘

In [10]:
json_df.head(5)

shape: (5, 4)
┌──────────────┬──────────────┬──────┬─────────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value       │
│ ---          ┆ ---          ┆ ---  ┆ ---         │
│ str          ┆ str          ┆ str  ┆ str         │
╞══════════════╪══════════════╪══════╪═════════════╡
│ Arab World   ┆ ARB          ┆ 1960 ┆ 96388069    │
│ Arab World   ┆ ARB          ┆ 1961 ┆ 98882541.4  │
│ Arab World   ┆ ARB          ┆ 1962 ┆ 101474075.8 │
│ Arab World   ┆ ARB          ┆ 1963 ┆ 104169209.2 │
│ Arab World   ┆ ARB          ┆ 1964 ┆ 106978104.6 │
└──────────────┴──────────────┴──────┴─────────────┘

In [11]:
json_df.tail(5)

shape: (5, 4)
┌──────────────┬──────────────┬──────┬──────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value    │
│ ---          ┆ ---          ┆ ---  ┆ ---      │
│ str          ┆ str          ┆ str  ┆ str      │
╞══════════════╪══════════════╪══════╪══════════╡
│ Zimbabwe     ┆ ZWE          ┆ 2006 ┆ 12529655 │
│ Zimbabwe     ┆ ZWE          ┆ 2007 ┆ 12481245 │
│ Zimbabwe     ┆ ZWE          ┆ 2008 ┆ 12451543 │
│ Zimbabwe     ┆ ZWE          ┆ 2009 ┆ 12473992 │
│ Zimbabwe     ┆ ZWE          ┆ 2010 ┆ 12571000 │
└──────────────┴──────────────┴──────┴──────────┘

In [12]:
json_df.columns

['Country Name', 'Country Code', 'Year', 'Value']

In [13]:
json_df["Country Name"]

shape: (12_407,)
Series: 'Country Name' [str]
[
	"Arab World"
	"Arab World"
	"Arab World"
	"Arab World"
	"Arab World"
	…
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
]

In [14]:
json_df[["Country Name"]].dtypes

[String]

***Reading Parquet Files***

In [15]:
# Read Parquet file
parquet_df = pl.read_parquet(
    r"F:\E\python\python数据分析的数据\2021\green\green_tripdata_2021-01.parquet"
)

# Display the DataFrame
print(parquet_df)

shape: (76_518, 20)
┌──────────┬──────────────────┬──────────────────┬─────────────────┬───┬──────────────┬──────────────┬───────────┬─────────────────┐
│ VendorID ┆ lpep_pickup_date ┆ lpep_dropoff_dat ┆ store_and_fwd_f ┆ … ┆ total_amount ┆ payment_type ┆ trip_type ┆ congestion_surc │
│ ---      ┆ time             ┆ etime            ┆ lag             ┆   ┆ ---          ┆ ---          ┆ ---       ┆ harge           │
│ i64      ┆ ---              ┆ ---              ┆ ---             ┆   ┆ f64          ┆ f64          ┆ f64       ┆ ---             │
│          ┆ datetime[ns]     ┆ datetime[ns]     ┆ str             ┆   ┆              ┆              ┆           ┆ f64             │
╞══════════╪══════════════════╪══════════════════╪═════════════════╪═══╪══════════════╪══════════════╪═══════════╪═════════════════╡
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ 6.8          ┆ 2.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 00:15:56         ┆ 00:19:52         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ 16.86        ┆ 1.0          ┆ 1.0       ┆ 2.75            │
│          ┆ 00:25:59         ┆ 00:34:44         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ 8.3          ┆ 1.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 00:45:57         ┆ 00:51:55         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2020-12-31       ┆ 2021-01-01       ┆ N               ┆ … ┆ 9.3          ┆ 2.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 23:57:51         ┆ 00:04:56         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ -52.8        ┆ 3.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 00:16:36         ┆ 00:16:40         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ …        ┆ …                ┆ …                ┆ …               ┆ … ┆ …            ┆ …            ┆ …         ┆ …               │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 65.4         ┆ null         ┆ null      ┆ null            │
│          ┆ 21:38:00         ┆ 22:16:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 65.28        ┆ null         ┆ null      ┆ null            │
│          ┆ 22:43:00         ┆ 23:21:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 22.0         ┆ null         ┆ null      ┆ null            │
│          ┆ 22:16:00         ┆ 22:27:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 58.04        ┆ null         ┆ null      ┆ null            │
│          ┆ 23:10:00         ┆ 23:37:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 18.5         ┆ null         ┆ null      ┆ null            │
│          ┆ 23:25:00         ┆ 23:35:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
└──────────┴──────────────────┴──────────────────┴─────────────────┴───┴──────────────┴──────────────┴───────────┴─────────────────┘

In [16]:
parquet_df.head(5)

shape: (5, 20)
┌──────────┬──────────────────┬──────────────────┬─────────────────┬───┬──────────────┬──────────────┬───────────┬─────────────────┐
│ VendorID ┆ lpep_pickup_date ┆ lpep_dropoff_dat ┆ store_and_fwd_f ┆ … ┆ total_amount ┆ payment_type ┆ trip_type ┆ congestion_surc │
│ ---      ┆ time             ┆ etime            ┆ lag             ┆   ┆ ---          ┆ ---          ┆ ---       ┆ harge           │
│ i64      ┆ ---              ┆ ---              ┆ ---             ┆   ┆ f64          ┆ f64          ┆ f64       ┆ ---             │
│          ┆ datetime[ns]     ┆ datetime[ns]     ┆ str             ┆   ┆              ┆              ┆           ┆ f64             │
╞══════════╪══════════════════╪══════════════════╪═════════════════╪═══╪══════════════╪══════════════╪═══════════╪═════════════════╡
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ 6.8          ┆ 2.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 00:15:56         ┆ 00:19:52         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ 16.86        ┆ 1.0          ┆ 1.0       ┆ 2.75            │
│          ┆ 00:25:59         ┆ 00:34:44         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ 8.3          ┆ 1.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 00:45:57         ┆ 00:51:55         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2020-12-31       ┆ 2021-01-01       ┆ N               ┆ … ┆ 9.3          ┆ 2.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 23:57:51         ┆ 00:04:56         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-01       ┆ 2021-01-01       ┆ N               ┆ … ┆ -52.8        ┆ 3.0          ┆ 1.0       ┆ 0.0             │
│          ┆ 00:16:36         ┆ 00:16:40         ┆                 ┆   ┆              ┆              ┆           ┆                 │
└──────────┴──────────────────┴──────────────────┴─────────────────┴───┴──────────────┴──────────────┴───────────┴─────────────────┘

In [17]:
parquet_df.tail(5)

shape: (5, 20)
┌──────────┬──────────────────┬──────────────────┬─────────────────┬───┬──────────────┬──────────────┬───────────┬─────────────────┐
│ VendorID ┆ lpep_pickup_date ┆ lpep_dropoff_dat ┆ store_and_fwd_f ┆ … ┆ total_amount ┆ payment_type ┆ trip_type ┆ congestion_surc │
│ ---      ┆ time             ┆ etime            ┆ lag             ┆   ┆ ---          ┆ ---          ┆ ---       ┆ harge           │
│ i64      ┆ ---              ┆ ---              ┆ ---             ┆   ┆ f64          ┆ f64          ┆ f64       ┆ ---             │
│          ┆ datetime[ns]     ┆ datetime[ns]     ┆ str             ┆   ┆              ┆              ┆           ┆ f64             │
╞══════════╪══════════════════╪══════════════════╪═════════════════╪═══╪══════════════╪══════════════╪═══════════╪═════════════════╡
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 65.4         ┆ null         ┆ null      ┆ null            │
│          ┆ 21:38:00         ┆ 22:16:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 65.28        ┆ null         ┆ null      ┆ null            │
│          ┆ 22:43:00         ┆ 23:21:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 22.0         ┆ null         ┆ null      ┆ null            │
│          ┆ 22:16:00         ┆ 22:27:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 58.04        ┆ null         ┆ null      ┆ null            │
│          ┆ 23:10:00         ┆ 23:37:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
│ 2        ┆ 2021-01-31       ┆ 2021-01-31       ┆ null            ┆ … ┆ 18.5         ┆ null         ┆ null      ┆ null            │
│          ┆ 23:25:00         ┆ 23:35:00         ┆                 ┆   ┆              ┆              ┆           ┆                 │
└──────────┴──────────────────┴──────────────────┴─────────────────┴───┴──────────────┴──────────────┴───────────┴─────────────────┘

In [44]:
parquet_df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [18]:
parquet_df["VendorID"]

shape: (76_518,)
Series: 'VendorID' [i64]
[
	2
	2
	2
	2
	2
	…
	2
	2
	2
	2
	2
]

In [19]:
parquet_df[["VendorID"]].dtypes

[Int64]

***Using Lazy loading For 1+ Billion Data***

In [27]:
import polars as pl

# Lazy loading the Parquet file
df_lazy = pl.scan_parquet(r"F:\E\python\python数据分析的数据\2021\yellow\*").select(
    ["trip_distance", "store_and_fwd_flag", "total_amount"]
)

In [28]:
# Collect the result to materialize it as a DataFrame
df_lazy = df_lazy.collect(engine="streaming")

In [29]:
# Display the result
df_lazy

shape: (30_904_308, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 2.1           ┆ N                  ┆ 11.8         │
│ 0.2           ┆ N                  ┆ 4.3          │
│ 14.7          ┆ N                  ┆ 51.95        │
│ 10.6          ┆ N                  ┆ 36.35        │
│ 4.94          ┆ N                  ┆ 24.36        │
│ …             ┆ …                  ┆ …            │
│ 3.99          ┆ null               ┆ 26.52        │
│ 5.96          ┆ null               ┆ 29.2         │
│ 4.99          ┆ null               ┆ 29.5         │
│ 1.36          ┆ null               ┆ 16.0         │
│ 1.99          ┆ null               ┆ 19.13        │
└───────────────┴────────────────────┴──────────────┘

In [33]:
# Lazy loading the Parquet file
df_lazy = pl.scan_parquet(r"F:\E\python\python数据分析的数据\2021\yellow\*").select(
    ["trip_distance", "store_and_fwd_flag", "total_amount"]
)

In [34]:
# Collect the result to materialize it as a DataFrame
df_lazy = df_lazy.collect(engine="streaming")

In [35]:
df_lazy

shape: (30_904_308, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 2.1           ┆ N                  ┆ 11.8         │
│ 0.2           ┆ N                  ┆ 4.3          │
│ 14.7          ┆ N                  ┆ 51.95        │
│ 10.6          ┆ N                  ┆ 36.35        │
│ 4.94          ┆ N                  ┆ 24.36        │
│ …             ┆ …                  ┆ …            │
│ 3.99          ┆ null               ┆ 26.52        │
│ 5.96          ┆ null               ┆ 29.2         │
│ 4.99          ┆ null               ┆ 29.5         │
│ 1.36          ┆ null               ┆ 16.0         │
│ 1.99          ┆ null               ┆ 19.13        │
└───────────────┴────────────────────┴──────────────┘

In [36]:
df_lazy.head(5)

shape: (5, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 2.1           ┆ N                  ┆ 11.8         │
│ 0.2           ┆ N                  ┆ 4.3          │
│ 14.7          ┆ N                  ┆ 51.95        │
│ 10.6          ┆ N                  ┆ 36.35        │
│ 4.94          ┆ N                  ┆ 24.36        │
└───────────────┴────────────────────┴──────────────┘

In [37]:
df_lazy.tail(5)

shape: (5, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 3.99          ┆ null               ┆ 26.52        │
│ 5.96          ┆ null               ┆ 29.2         │
│ 4.99          ┆ null               ┆ 29.5         │
│ 1.36          ┆ null               ┆ 16.0         │
│ 1.99          ┆ null               ┆ 19.13        │
└───────────────┴────────────────────┴──────────────┘

In [38]:
df_lazy.columns

['trip_distance', 'store_and_fwd_flag', 'total_amount']

***We can get the dtype schema of a `LazyFrame` (which is a mapping from column names to dtypes) by calling `schema`***

In [39]:
df_lazy.schema

Schema([('trip_distance', Float64),
        ('store_and_fwd_flag', String),
        ('total_amount', Float64)])

### Creating a LazyFrame from data
We can also directly create a `LazyFrame` from a constructor with some data

In [40]:
pl.LazyFrame({"values": [0, 1, 2]})